<div class="share-page">
    Partager cette traduction sur vos réseaux sociaux favoris <br />
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url=http://www.les-traducteurs-agiles.org{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Partager sur Twitter">Twitter</a>
    
<a href="https://facebook.com/sharer.php?u=http://www.les-traducteurs-agiles.org{{ page.url }}" rel="nofollow" title="Share on Facebook" target="popup" onclick="window.open('https://facebook.com/sharer.php?u={http://www.les-traducteurs-agiles.org{{ page.url }}  ','','width=600,height=400')">Facebook</a>
    
<a href="https://plus.google.com/share?url=http://www.les-traducteurs-agiles.org{{ page.url }}" rel="nofollow" target="_blank" title="Partager sur Google+">Google+</a>
    
<a href="http://pinterest.com/pin/create/button/?url=http://www.les-traducteurs-agiles.org{{ page.url }}&description={{ page.title }}" rel="nofollow" target="_blank" title="Partager sur Pinterest">Pinterest</a>
    
<a href="http://www.linkedin.com/shareArticle?mini=true&url=http://www.les-traducteurs-agiles.org{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="Partager sur LinkedIn">LinkedIn </a>
    
<a href="http://www.tumblr.com/share/link?url=http://www.les-traducteurs-agiles.org{{ page.url }}&name={{ page.title }}" rel="nofollow" target="_blank" title="Partager sur Tumblr">Tumblr</a>

<a href="http://www.reddit.com/submit?url=http://www.les-traducteurs-agiles.org{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="Partager sur Reddit">Reddit</a>

<a href="http://www.viadeo.com/shareit/share/?url=http://www.les-traducteurs-agiles.org{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="Partager sur Viadeo">Viadeo</a>

</div>